<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.mobilelibrary.base.mapper.SysroleMapper">
  <resultMap id="BaseResultMap" type="com.ly.mobilelibrary.base.model.Sysrole">
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_desc" jdbcType="VARCHAR" property="roleDesc" />
  </resultMap>

</mapper>